<div class="w-100 h-100 background-blue d-flex justify-content-center align-items-center" >
    <div class="color-white fa-2x"><fa-icon [icon]="faPython"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faAngular"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faJsSquare"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faGithub"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faNodeJs"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faGitlab"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faHtml5"></fa-icon></div>
    <div class="color-white fa-2x"><fa-icon [icon]="faCss3"></fa-icon></div>

</div>
