<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center background-blue">
    <div class="w-80 color-blue" >
        <div class="text-center">
            I am from Aguascalientes, Mexico.
            Currently I am studing the major engineering in Artificial Intelligence (intelligent computing) in the local University of the state, I am enroll in the 8th semester.
            <br>
            I consider my self as a student who like learn new technologies, new programming languages, I like to be innovative, proactive and of course I like to benefit myself about all the knowdlege from the people around.
            I like my major because I Have learned a lot of things about programming, optimice, machine learning and plenty actual trendy toppics in the world of informatic.
            Besides studing in the University I usually learn on my own in online courses, so I am a autodidact person that learns quickly.
            <br>
            <br>
            
        </div>
        <div class="text-underline">
            <ins>My work experience:</ins>
        </div>
    <br>
    <!-- Tablas -->
    <div class=" d-flex row justify-content-center ">
        <div class="col-md-4">
            <table class="">
                <thead>
                    <th>Nutritive Web</th>
                </thead>
                <tbody>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp;I worked with the MVC (Model-View-Controller) arquitecture:
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;HTML5</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;CSS3</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;JavaScript</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;C#</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"> <fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Razor</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"> <fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;GitLab</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp;Main activities:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;UX/UI</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Consuming API's</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Create JavaScript methods</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table>
                <thead>
                    <th>Torretas</th>
                </thead>
                <tbody>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp;I Developed a web app for the correct manage of a enterprise
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Angular 8.2.2</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Node.js</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;HeidiSQL</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;GitHub</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp;Main activities:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Manage the services an the HTTP methods</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Build a CRUD (Create-Read-Update-Delete) for the personal or staff.</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Create and modify the API's</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table>
                <thead>
                    <th>ArchivoMex</th>
                </thead>
                <tbody>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp; I optimize the response time of the code 68%
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Python</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Tesseract OCR (Optical Caracter Recognition)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Multiprocess</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;OpenCV</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;GitHub</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level1"><fa-icon [icon]="faBullseye" ></fa-icon> &nbsp;&nbsp;Main activities:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Parallel computing</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;OpenCV research</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="level2"><fa-icon [icon]="faCode" ></fa-icon> &nbsp;&nbsp;Caracter recognition research</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-bottom height-5">
        <app-ficons ></app-ficons>
    </div>

    </div>
    
</div>
