<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center background-blue">
    <div class="container d-flex flex-column justify-content-between align-items-center height30">
        <div class="color-blue col-md-4 row d-flex justify-content-start align-items-center">
            <div><fa-icon class="fa-3x" [icon]="faAt" ></fa-icon></div>
            <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;angallo78@gmail.com</div>
        </div>
        <div class="color-blue col-md-4 row d-flex justify-content-start align-items-center">
            <div><fa-icon class="fa-3x" [icon]="faPhoneAlt" ></fa-icon></div>
            <div class=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+52 1(449) 355 0605</div>
        </div>
        <div class="color-blue col-md-4 row d-flex justify-content-start align-items-center">
            <div> <fa-icon class="fa-3x" [icon]="faLinkedinIn"></fa-icon></div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;linkedin.com/in/adrian-gallo</div>
            
        </div>
        <div class="color-blue col-md-4 row d-flex justify-content-start align-items-center">
            <div><fa-icon class="fa-3x" [icon]="faGithub" ></fa-icon></div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;github.com/AdrianGallo98</div>
             
        </div>
    </div>
    <div class="fixed-bottom height-5">
        <app-ficons ></app-ficons>
    </div>
</div>
