<nav class="navbar navbar-light mynavbar fixed-top">
    <!-- left -->
    <div class="d-flex row col-md-12 justify-content-between">
        <div class="d-flex col-md-6 align-items-center textwhite text200 animation-target">
            Ramiro Adrian Gallo Alba
        </div>
        <!-- Right -->
        <div class="d-flex row col-md-6 align-items-center justify-content-end">
            <!-- <div class="d-flex row col-md-6 justify-content-end"> -->
                <div class="d-flex col-md-4 justify-content-between align-items-center">
                    <div class="atextwhite text120 hvr-underline-from-center height30">
                        <a [routerLink]="" class="textwhite">About</a>
                    </div>
                    <div class="textwhite text120 hvr-underline-from-center height30">
                        <a  [routerLink]="" class="textwhite">Skills</a>
                    </div>
                    <div class="textwhite text120 hvr-underline-from-center height30">
                        <a  [routerLink]="" class="textwhite">Contact</a>
                    </div>
                <!-- </div> -->
                
            </div>
            <!-- <div class="col-md-1">

            </div> -->
            
        </div>
    </div>
  </nav>