<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center background-blue">
        <div class="w-50" style="padding-bottom: 3%;">
            <h4 class="text-blue text-center">
                Current student of the "Universidad Autónoma de Aguascalientes", I have experience with a lot of programming languages such as Python, Java, JavaScript, etc. 
                <br>
                I am in the bachelor engineering in Atificial intelligence looking for new experience and knowdlege. 
                <!-- Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.  -->
            </h4>
        </div>
        <div class="col-md-5 list d-flex justify-content-center align-items-center ">
            <div id="carouselExampleIndicators" class="carousel slide width80" data-ride="carousel" data-interval="3500" data-pause="hover">
                <!-- <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active circle1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class="circle1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" class="circle1"></li>
                </ol> -->
                <div class="carousel-inner ">
                  <div class="carousel-item active text-center" >
                    <div class="w-100 h-100 d-flex justify-content-center">
                      <img class="d-block img-uaa " src="https://github.com/AdrianGallo98/AdrianGallo/blob/master/src/assets/uaalogo.png" alt="First slide">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 h-100 d-flex justify-content-center" >
                      <img class="d-block img-ici " src="../../../assets/iciEfe.png" alt="Second slide">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 d-flex justify-content-center">
                      <img class="d-block img-uaa" src="../../../assets/Gallo.png" alt="First slide">
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon color-blue" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                
              </div>
            <!-- <img class="img-white"src="../../../assets/Gallo.png"> -->
            <!-- <img class="img-uaa"src="../../../assets/uaalogo.png" > -->
        </div>
        <div class="d-flex row width50 justify-content-center paddxy2 ">
            
            <!-- <div data-target="#carouselExampleIndicators" data-slide-to="0" class=" activec circle1" (click)="clickCircle()">

            </div>
            <div data-target="#carouselExampleIndicators" data-slide-to="1" class="circle1">

            </div>
            <div data-target="#carouselExampleIndicators" data-slide-to="2" class="circle1">

            </div> -->
        </div>
        <div class="d-flex row width50 justify-content-center align-items-center">
            <div class="color-blue d-flex padding50 justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center circle-icon hvr-radial-out">
                    <!-- <a class="sendemail "  > -->
                        <fa-icon class="fa-4x" [icon]="faEnvelope" (click)="mailTo()"></fa-icon>
                    <!-- </a> -->
                </div>
            </div>
            <div class="color-blue padding50">
                <div class="d-flex justify-content-center align-items-center circle-icon hvr-radial-out">
                    <fa-icon class="fa-4x" [icon]="faLinkedinIn" (click)="openLink('www.linkedin.com/in/adrian-gallo')"></fa-icon>
                </div>
            </div>
            <div class="color-blue padding50">
                <div class="d-flex justify-content-center align-items-center circle-icon hvr-radial-out">
                    <fa-icon class="fa-4x" [icon]="faWhatsapp" (click)="openLink('api.whatsapp.com/send?phone=524493550605')"></fa-icon>
                </div>
            </div>
            <div class="color-blue padding50">
                <div class="d-flex justify-content-center align-items-center circle-icon hvr-radial-out">
                    <fa-icon class="fa-4x" [icon]="faGithub" (click)="openLink('github.com/AdrianGallo98')"></fa-icon>
                </div>
            </div>
        </div>
</div>
